<div class="info_box_label long h2 margin_top_left">
	NUESTRO COMPROMISO
</div>
<div>
	<div class="index_left2 left width_medium">
		<%= image_tag("image7.jpg", :width => 379) %>
	</div>
	<div class="index_right2 right width_medium text text_justify">
		Conscientes de formar personas bilingües, London English Institute se compromete cumplir los siguiente:
		<ul>
			<li>Ayudar a nuestros alumnos logren un alto nivel de ingles.</li>
			<li>A impartir cursos de calidad.</li>
			<li>Impartir cursos de ingles donde se promueva la comunicación y así como las demás habilidades.</li>
			<li>Impartir clases donde sean reales para nuestros alumnos.</li>
			<li>Aplicar metodología de vanguardia, efectivas y de gran impacto.</li>
			<li>Mantener las cuotas accesibles.</li>
		</ul>
	</div>
</div>
<div class="fix"></div>
<div style="margin-right:10px;margin-left:10px;pading-top:10px;border-top: dotted 1px #000;">
	<div class="box_left_3 text text_justify margin_right">
		<div class="info_box_label h2 margin_bottom">
			MISION
		</div>
		Somos una institución que tiene como finalidad la enseñanza del idioma ingles, manteniendo altos niveles de excelencia académica y servicios hacia nuestros clientes, y mediante la mejora continua lograremos que nuestros clientes de los distintos sectores de nuestra sociedad alcancen altos niveles de desempeño.
	</div>
	<div class="box_left_3 text text_justify padding_right_left dotted_border_right_left fix_height">
		<div class="info_box_label h2 margin_bottom">
			VISION
		</div>
		Ser reconocidos ante la sociedad como una institución altamente calificado en la enseñanza del ingles, sustentado por mejora continua y la excelente calidad académica.
	</div>
	<div class="box_left_3 text text_justify margin_left">
		<div class="info_box_label h2 margin_bottom">
			VALORES
		</div>
		<ul>
			<li>Lealtad</li>
			<li>Liderazgo</li>
			<li>Honestidad</li>
			<li>Respeto</li>
			<li>Cooperación</li>
			<li>Responsabilidad</li>
			<li>Crecimiento</li>
			<li>Actitud Positiva</li>
		</ul>
	</div>
</div>


