<div class="margin_top margin_bottom">
	<div class="info_box_label h2 margin_left">
		VISITANOS
	</div>
	<div class="index_left2 left width_medium">
		<%= image_tag("location.png", :width => 379) %>
	</div>
	<div class="index_right2 right width_medium text text_justify">
		<div class="margin_bottom">
			<div class="info_box_label h2 margin_bottom">
				DOMICILIO:
			</div>
			Jazmín #200 Col. Centro C.P. 49000, Ciudad Guzmán, Jal.
			<div class="info_box_label h2 margin_bottom margin_top">
				TELéFONO:
			</div>
			(341) 41 33333
		</div>
		<div class="padding_top dotted_top margin_right">
			<div class="info_box_label h2 margin_bottom">
				CONTACTANOS
			</div>
			<%= form_tag "/subscribe/signup_submit" do %>			
				<input type="text" name="email" placeholder="Correo electronico" /><br /><br />					
				<input type="text" name="name" placeholder="Nombre" /><br /><br />				
				<input type="text" name="company" placeholder="Comentario" /><br /><br />	
				<input type="submit" name="submit" value="Enviar" class="right" />			
			<% end %>
		</div>
	</div>
</div>